html, body {
    background-size: 100%;
    position: static;
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
    background-position: center;
    background-size: cover;
}

.container2 {
    font-weight: bolder;
}

#trainName {
    background-color: transparent;
    border-color: black;
}

#destination {
    background-color: transparent;
    border-color: black;
}

#trainTime {
    background-color: transparent;
    border-color: black;
}

#frequency {
    background-color: transparent;
    border-color: black;
}
